@seafoam: #59D9A2;
@footerColor: #A698A5;

@font-face{
  font-family: 'NeutrafaceSlabDisplayMedium';
  src: url('/fonts/neutrafaceslabdisplay-medium-webfont.eot');
  src: local('☺'), url('/fonts/neutrafaceslabdisplay-medium-webfont.woff') format('woff'), url('/fonts/neutrafaceslabdisplay-medium-webfont.ttf') format('truetype'), url('/fonts/neutrafaceslabdisplay-medium-webfont.svg#webfontZ3FVDSXd') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: helvetica, arial, sans-serif;
  text-rendering: optimizeLegibility; // some browsers support kerning and ligatures

  // disable text selection. while certainly not optimal to disable selection on entire site, it's more annoying to highlight page elements while drawing
  -webkit-user-select: none;
  -moz-user-select: none;
}

.floatClear{
  float: left;
  clear: both;
}

body, html{
  margin: 0;
  padding: 0;
}

// bg color
#background{
  float: left;
  clear: both;
  width: 100%;
  padding: 0 0 40px 0;

  @start: @seafoam;
  @end: @start - 70%;

  background: @start; // Non CSS3 browsers
  background: -moz-linear-gradient(top,  @start, @end); // FF 3.6+
  background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@end)); // Safari 4+, Chrome
  filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start, @end); // IE6 & 7
  -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start, @end); // IE8
}

// centered div
.centered{
  width: 960px;
  margin: 0 auto;
}

// logo
#logo{
  .floatClear;
  margin: 10px 0 0 90px;
}

@toolsLeft: 10px;

// toolbar
#tools{
  .floatClear;
  margin: 20px 0 0 25px;
  padding: 10px 0 10px @toolsLeft;
  width: 901px - @toolsLeft;
  background: rgba(255,255,255,0.25);
  text-shadow: rgba(0,0,0,0.2) -1px 0, rgba(0,0,0,0.2) 0 -1px, rgba(255,255,255,0.2) 0 1px;
}

.sprite{
  display: block;
  overflow: hidden;
  line-height: 500px;
  float: left;
}

@buttonPadding: 7px;

// master button color - change this to change all the colors
@buttonColor: #b1e2bb;

// slave colors
@defaultStart: @buttonColor + 35%;
@defaultEnd: @buttonColor;
@borderColor: @buttonColor - 50%;

@color: #a698a5 - 50%;

.button{
  float: left;
  padding: @buttonPadding;

  background: ((@defaultStart + @defaultEnd) / 2); // Non CSS3 browsers
  background: -moz-linear-gradient(top,  @defaultStart, @defaultStart 46%, @defaultEnd 54%, @defaultEnd); // FF 3.6+
  background: -webkit-gradient(linear, left top, left bottom, from(@defaultStart), color-stop(0.46, @defaultStart), color-stop(0.54, @defaultEnd), to(@defaultEnd)); // Safari 4+, Chrome
  filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @defaultStart, @defaultEnd); // IE6 & 7
  -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @defaultStart, @defaultEnd); // IE8
}

.buttonHover{
  color: @color;

  @start: @defaultStart - 20%;
  @end: @defaultEnd - 20%;

  background: ((@start + @end) / 2); // Non CSS3 browsers
  background: -moz-linear-gradient(top, @start, @start 46%, @end 54%, @end); // FF 3.6+
  background: -webkit-gradient(linear, left top, left bottom, from(@start), color-stop(0.46, @start), color-stop(0.54, @end), to(@end)); // Safari 4+, Chrome
  filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start, @end); // IE6 & 7
  -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start, @end); // IE8
}

.button:hover{.buttonHover;}

.buttonActive{
  color: @color;

  @start: @defaultStart - 40%;
  @end: @defaultEnd - 40%;

  background: ((@start + @end) / 2); // Non CSS3 browsers
  background: -moz-linear-gradient(top, @start, @start 46%, @end 54%, @end); // FF 3.6+
  background: -webkit-gradient(linear, left top, left bottom, from(@start), color-stop(0.46, @start), color-stop(0.54, @end), to(@end)); // Safari 4+, Chrome
  filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start, @end); // IE6 & 7
  -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start, @end); // IE8
}

.button:active{.buttonActive}

@playWidth: 20px;
@pauseWidth: 20px;
@resetWidth: 25px;
@eraseWidth: 29px;

@borderWidth: 1px;

// controls
#status{
  // border radius
  @radius: 8px;
  -moz-border-radius-topleft: @radius; // FF1+
  -moz-border-radius-bottomleft: @radius; // FF1+
  -webkit-border-top-left-radius: @radius; // Saf3-4
  -webkit-border-bottom-left-radius: @radius; // Saf3-4
  border-top-left-radius: @radius; // Opera 10.5, IE9, Saf5, Chrome
  border-bottom-left: @radius; // Opera 10.5, IE9, Saf5, Chrome

  padding: @buttonPadding @buttonPadding @buttonPadding 12px;

  border: @borderWidth solid @borderColor;
  border-width: @borderWidth 0 @borderWidth @borderWidth;

  // play
  span{
    .sprite;
    width: @playWidth;
    height: 25px;
    background: url(/images/controls.png) 0 0 no-repeat;
  }

  // pause
  span.active{
    .sprite;
    width: @pauseWidth;
    height: 25px;
    background: url(/images/controls.png) @playWidth * -1 0 no-repeat;
  }
}

#reset{
  border: @borderWidth solid @borderColor;
  border-width: @borderWidth 0;

  span{
    .sprite;
    width: @resetWidth;
    height: 25px;
    background: url(/images/controls.png) (@playWidth + @pauseWidth) * -1 0 no-repeat;
  }
}

#clear{
  // border radius
  @radius: 8px;
  -moz-border-radius-topright: @radius; // FF1+
  -moz-border-radius-bottomright: @radius; // FF1+
  -webkit-border-top-right-radius: @radius; // Saf3-4
  -webkit-border-bottom-right-radius: @radius; // Saf3-4
  border-top-right-radius: @radius; // Opera 10.5, IE9, Saf5, Chrome
  border-bottom-right: @radius; // Opera 10.5, IE9, Saf5, Chrome

  padding: @buttonPadding 7px @buttonPadding @buttonPadding;

  border: @borderWidth solid @borderColor;
  border-width: @borderWidth @borderWidth @borderWidth 0;

  span{
    .sprite;
    width: @eraseWidth;
    height: 25px;
    background: url(/images/controls.png) (@playWidth + @pauseWidth + @resetWidth) * -1 0 no-repeat;
  }
}

// generation counter
#countWrapper{
  .button;
  border: @borderWidth solid @borderColor;
  .ui-corner-all;
  padding: 10px 0 10px 12px;
  margin: 0 0 0 20px;
}

// click on canvas to draw/erase
#drawNote{
  float: right;
  margin: 13px 10px 0 0;
  color: #777;
  letter-spacing: 0.08em;
  text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px, rgba(255,255,255,0.1) 0 1px;
}

// holds the two canvases, has background color
#canvases{
  .floatClear;
  position: relative;
  left: 25px;
  background: #fff;
  border: 1px solid #787878;
  border-width: 0 1px 1px 0;

  // remove these if you change the dimensions in javascript
  // defined here at all just so the page loads with the elements in the right place
  width: 900px;
  height: 600px;
}

// general canvas style to layer the two
canvas{
  position: absolute;
  top: 0;
  left: 0;
  cursor: crosshair !important;
}

// overflow for the box shadow on footer
#footerWrapper{
  .floatClear;
  width: 100%;
  overflow: hidden;
}

#footer{
  .floatClear;
  width: 100%;
  font-family: 'NeutrafaceSlabDisplayMedium';
  padding: 30px 0 0 0;
  background: #140C01 url(/images/footer.png) 0 0;
  border: 2px solid #444;
  border-width: 2px 0 0 0;

  font-family: 'NeutrafaceSlabDisplayMedium', helvetica, arial, sans-serif;
  color: @footerColor;
  letter-spacing: 0.1em;
  font-size: 33px;
  line-height: 43px;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.5) 0 -1px, rgba(255,255,255,0.2) 0 1px;

  -moz-box-shadow: 0px 0px 3px #000; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 3px #000; /* Saf3.0+, Chrome */
  box-shadow: 0px 0px 3px #000; /* Opera 10.5, IE9 */

  a{color: @footerColor;}
  a:hover, a:active{color: @seafoam;}
}

#footerTrans{
  .floatClear;
  width: 100%;
  margin: 30px 0 0 0;
  padding: 30px 0 15px 0;
  color: #000;
  letter-spacing: 0.04em;
  background: rgba(255,255,255,0.3);

  -moz-box-shadow: 0px 0px 5px #000; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 5px #000; /* Saf3.0+, Chrome */
  box-shadow: 0px 0px 5px #000; /* Opera 10.5, IE9 */
}

/* ============= */
/* = UI Select = */
/* ============= */

// jquery-ui specific border-radius
.ui-corner-all{
  // border radius
  @radius: 8px;
  -moz-border-radius: @radius; // FF1+
  -webkit-border-radius: @radius; // Saf3-4
  border-radius: @radius; // Opera 10.5, IE9, Saf5, Chrome
}

// Interaction states
.ui-state-default{
  .button;
  border: @borderWidth solid @borderColor;
  height: 27px !important;
  padding-top: 4px;
  color: @color;
  outline: none;
  letter-spacing: 0.08em;
  margin-left: 20px;
}

// import hover state
.ui-state-hover{.buttonHover;}

// import active state
.ui-state-active{.buttonActive;}

// popup
.ui-widget-content{
  border: @borderWidth solid @borderColor;
  background: @buttonColor + 20%;
  color: @color;

  a{color: @color;}
}


// icon
.ui-icon-triangle-2-n-s{
  width: 16px;
  height: 18px;
  background: url(/images/controls.png) -99px -3px no-repeat;
}

// icon position
.ui-selectmenu-icon{position:absolute; right:6px; margin-top:-9px; top: 50%; }


// Selectmenu
.ui-selectmenu{
  display: block;
  position: relative;
  height:2em;
  text-decoration: none;
  overflow: hidden;
}

.ui-selectmenu-menu{padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto; }
.ui-selectmenu-open{visibility: visible; }

// rounding for the first and last list elements
.ui-selectmenu-menu li:first-child{
  @radius: 8px;
  -moz-border-radius-topright: @radius; // FF1+
  -moz-border-radius-topleft: @radius; // FF1+
  -webkit-border-top-right-radius: @radius; // Saf3-4
  -webkit-border-top-left-radius: @radius; // Saf3-4
  border-top-right-radius: @radius; // Opera 10.5, IE9, Saf5, Chrome
  border-top-left: @radius; // Opera 10.5, IE9, Saf5, Chrome
}

.ui-selectmenu-menu li:last-child{
  @radius: 8px;
  -moz-border-radius-bottomright: @radius; // FF1+
  -moz-border-radius-bottomleft: @radius; // FF1+
  -webkit-border-bottom-right-radius: @radius; // Saf3-4
  -webkit-border-bottom-left-radius: @radius; // Saf3-4
  border-bottom-right-radius: @radius; // Opera 10.5, IE9, Saf5, Chrome
  border-bottom-left: @radius; // Opera 10.5, IE9, Saf5, Chrome
}

// set height and overflow on status
.ui-selectmenu-status{
  height: 20px;
  overflow: hidden;
}

.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status {line-height: 1.4em; display:block; padding:.3em 1em; outline:none; text-decoration:none; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }

// bad browser
#badBrowser{
  width: 100%;
  background: #f00;
  color: #fff;
  border: 2px solid #A10606;
  border-width: 2px 0;

  div{
    padding: 30px;
    text-align: center;
  }

  a{color: #fff; text-decoration: underline;}
  a:hover, a:active{color: #000;}
}