@seafoam: #59D9A2;
@footerColor: #A698A5;

@font-face {
  font-family: 'BodoniPosterSSiRegular';
  src: url('/fonts/bodoni_poster_ssi-webfont.eot');
  src: local('☺'), url('/fonts/bodoni_poster_ssi-webfont.woff') format('woff'), url('/fonts/bodoni_poster_ssi-webfont.ttf') format('truetype'), url('/fonts/bodoni_poster_ssi-webfont.svg#webfontuauGKi2l') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeutrafaceSlabDisplayMedium';
  src: url('/fonts/neutrafaceslabdisplay-medium-webfont.eot');
  src: local('☺'), url('/fonts/neutrafaceslabdisplay-medium-webfont.woff') format('woff'), url('/fonts/neutrafaceslabdisplay-medium-webfont.ttf') format('truetype'), url('/fonts/neutrafaceslabdisplay-medium-webfont.svg#webfontZ3FVDSXd') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'NeutrafaceSlabDisplayMedium';
  text-rendering: optimizeLegibility; // some browsers support kerning and ligatures
}

.floatClear{
  float: left;
  clear: both;
}

body, html{
  margin: 0;
  padding: 0;
}

// bg color
#background{
  float: left;
  clear: both;
  width: 100%;
  padding: 0 0 40px 0;

  @start: @seafoam;
  @end: @start - 70%;

  background: @start; // Non CSS3 browsers
  background: -moz-linear-gradient(top,  @start, @end); // FF 3.6+
  background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@end)); // Safari 4+, Chrome
  filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start, @end); // IE6 & 7
  -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%d, endColorstr=%d)", @start, @end); // IE8
}

// centered div
.centered{
  width: 960px;
  margin: 0 auto;
}

// logo
#logo{
  .floatClear;
  margin: 10px 0 0 90px;
}

// toolbar
#tools{
  .floatClear;
  margin: 20px 0 20px 100px;
}

// holds the two canvases, has background color
#canvases{
  .floatClear;
  position: relative;
  left: 25px;
  background: #fff;
  border: 1px solid #787878;
  border-width: 0 1px 1px 0;

  -moz-box-shadow: 0px 0px 5px #000; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 5px #000; /* Saf3.0+, Chrome */
  box-shadow: 0px 0px 5px #000; /* Opera 10.5, IE9 */
}

// general canvas style to layer the two
canvas{
  position: absolute;
  top: 0;
  left: 0;
  cursor: crosshair !important;
}

#footer{
  .floatClear;
  width: 100%;
  padding: 30px 0;
  background: #140C01 url(/images/footer.png) 0 0 repeat-x;
  border: 2px solid #666;
  border-width: 3px 0 0 0;

  font-family: 'NeutrafaceSlabDisplayMedium', helvetica, arial, sans-serif;
  color: @footerColor;
  letter-spacing: 0.08em;
  font-size: 30px;
  text-shadow: rgba(0,0,0,0.3) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.2) 0 1px;

  -moz-box-shadow: 0px 0px 5px #000; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 5px #000; /* Saf3.0+, Chrome */
  box-shadow: 0px 0px 5px #000; /* Opera 10.5, IE9 */
  
  a{color: @footerColor;}
  a:hover, a:active{color: @seafoam;}
}